@page "/"
@inject GrpcServer.Greeter.GreeterClient GreeterClient

<PageTitle>Index</PageTitle>

<div>Grpc web Response @Message</div>


@code{
    public string Message { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var reply = await GreeterClient.SayHelloAsync(new GrpcServer.HelloRequest { Name = "wby test" });
        Message = reply.Message;
    }
}
