<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>

	<modules>
	<module assemblyFile="ModuleA.dll" moduleType="ModuleA.ModuleAModule, ModuleA, Version=1.0.0.0, Culture=neutral, 
			PublicKeyToken=null" moduleName="ModuleAModule" startupLoaded="True" />
	</modules>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<namespace name="PrismDemo.Services" />
		<assembly name="PrismDemo.Services" />
		<container>
			<register type="IHomePageService" mapTo="HomePageService">
				<constructor>
					<param name="baseUrl" type="System.String" value="http://123.60.13.203:9000/api/" />
				</constructor>
			</register>
		</container>
	</unity>

	<appSettings>
		<add key="BusinessApiServer" value="http://123.60.13.203:9000/api/"/>
	</appSettings>
</configuration>